
/*Navigation*/
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2196f3;
  }
  
 .nav li {
    float: left;
  }
  
 .nav li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /*end*/

/*cards*/
.homeCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.homeCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.homeCardContainer {
  padding: 2px 16px;
}