* { box-sizing:border-box; }

.registerForm {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background:white;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}


.registerForm input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: flex;
	background: white;
	color:black;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #212121;
}

.registerForm input:focus { outline: none; }

.registerForm button{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: inherit;
  color: white;
  background: #4caf50;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
 }


